<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login and Registration</title>
    </head>
    <body>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="{{message.tags}}">{{message}}</p>
                {% endfor %}
            </div>
        {% endif %}
        <h2>Registration</h2>
        <form action="/register" method="POST">
            {% csrf_token %}
            First Name: <input type="text" name="first_name">
            Last Name: <input type="text" name="last_name">
            Email: <input type="email" name="email">
            Password: <input type="password" name="password">
            Confirm PW: <input type="password" name="pwd_confirm">
            <input type="submit" value="Register">
        </form>

        <h2>Login</h2>
        <form action="/login" method="POST">
            {% csrf_token %}
            Email: <input type="email" name="login_email">
            Password: <input type="password" name="login_password">
            <input type="submit" value="Login">
        </form>
    </body>
</html>